.homepage {
  padding: 0 24px;
  .banner-image {
    width: 100%;
    height: 350px;
    margin-bottom: 24px;
  }
  .carousel-container {
    background-color: #39393f;
    margin: 12px 0;
    border-radius: 8px;
    padding: 8px 0;
    .quote {
margin-bottom: 4px;
      font-weight: 400;
      font-size: 38px;
      font-style: italic;
      color: #fff;

    }
    .zoho-movies{
        font-size: 20px;
        color: #757575;

    }
  }
  .section-contents {
    row-gap: 18px;
  }
  .section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    .title {
      color: #4d4d4d;
      font-weight: 600;
      font-size: 30px;
      margin: 0;
    }
    .view-all-button {
      border-radius: 9px;
      border: 1px solid #ff4e84;
      background-color: #ff4e84;
      color: #fff;
      font-size: 17px;
      text-align: center;
    }
  }
  .card-container {
    .display-card {
      border-radius: 14px;
      box-shadow: none;
      overflow: hidden;
      background-color: #ffffff;
      padding: 0;
      cursor: pointer;
      .card-image {
        img {
          width: 100%;
          height: 400px;
        }
      }
    }
    .card-content {
      padding: 17px 5px 13px 12px;
      color: #404040;
      line-height: 19px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title {
        font-size: 17px;
        font-weight: 800;
        text-align: left;
      }
      .rating-image {
        width: 24px;
        height: 24px;
        margin-bottom: 4px;
      }
    }
  }
}


.footer {
    float: left;
    width: 100%;
    background-color: rgb(51, 51, 56);
    padding: 35px 0px 25px 0px;
    .container{
        position: relative;

        border-bottom: 1px solid rgb(93, 93, 95);
        
    }
    .copyrights{
        padding: 30px;
        font-size: 11px;
        color: rgb(102, 102, 102);
        text-align: center
    }
  }